body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  width: 50%;  /* 50% del ancho de su contenedor */
  height: auto;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
}

div {
  margin-top: 20px;
}

p {
  font-size: 18px;
  color: #333;
}

/* Borde rojo solo a la imagen de KIT */
#image-container img[src="img/KIT.png"] {
  border: 5px solid black;
  border-radius: 10px;
}

/* Borde rojo solo a la imagen de ZOMBIES */
#image-container img[src="img/ZOMBIES.png"] {
  border: 5px solid black;
  border-radius: 10px;
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 600px) {
  body {
    font-size: 14px;
    margin-top: 20px;
    padding: 0 10px;
  }
  button {
    padding: 8px 16px;
    font-size: 16px;
  }
  img#logo {
    width: 80%; /* Ajustar tamaño del logo */
  }
  .foto {
    width: 100px; /* Reducción de las imágenes */
    height: auto;
  }
  
  audio {
    display: none; /* Ocultar el reproductor */
  }
}
